* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$prim-font: "Montserrat", sans-serif;
$sec-font: "DM Sans", sans-serif;

$light: #fff;
$gray: #444;
$prim-col: #244d4d;
$sec-col: #242424;
$bg-prim: #154444;
$bg-footer: #305f64;
$like-btn: #ef5423;
$share-btn: #3395ce;
$inactive-tab: #919090;

.container {
  width: 1200px;
  margin: auto;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;

  &__logo {
    font-weight: 700;
    font-size: 24px;
    color: $prim-col;
    font-family: $prim-font;
    cursor: pointer;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 475px;
    font-weight: 400;

    font-family: $sec-font;

    a {
      text-decoration: none;
      color: $sec-col;
      font-size: 20px;
    }
  }
}

.navbar-menu {
  width: 80px;
  display: flex;
  justify-content: space-between;

  &__items {
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-direction: row;

  &__title {
    font-family: $prim-font;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: $light;
  }

  &__subtitle {
    font-family: $sec-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $light;
    margin: 20px 0 35px 0;
  }

  &-items {
    margin: 100px 20px 140px 100px;
  }
}

.bg-green {
  background-color: $prim-col;
  width: 100%;
}

.btn {
  padding: 15px 25px;
  background-color: $light;
  color: $bg-prim;
  border: none;

  font-family: $sec-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);

  transition: all 200ms ease-in-out;
}

.partners {
  margin-top: 140px;

  &-title {
    text-align: center;

    color: $prim-col;
    font-family: $prim-font;
    font-weight: 700;
    font-size: 32px;

    margin-bottom: 50px;
  }

  &-img {
    display: flex;
    justify-content: space-between;
  }
}

.about_us {
  display: flex;
  margin-top: 150px;

  .text-block {
    margin: 30px 0 0 100px;

    &__title {
      font-family: $prim-font;
      font-weight: 700;
      font-size: 32px;
      color: $prim-col;
    }

    &__subtitle {
      font-family: $sec-font;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: $gray;

      margin: 20px 0 40px 0;
    }
  }

  .benefits {
    margin-left: 100px;

    .about-block {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 15px 0;
      width: 350px;

      .about-blocks__title {
        color: $prim-col;
        font-family: $prim-font;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 15px;
      }

      .about-blocks__subtitle {
        font-family: $sec-font;
        color: $gray;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}

.carousel-block {
  margin: 140px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-family: $prim-font;
    color: $sec-col;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: $sec-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
  }

  &__btn {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }

  .carousel-btn {
    width: 40px;
    height: 40px;
    font-family: $sec-font;
    font-size: 26px;
    border-radius: 100px;
    border: none;
    color: #d1cece;
    background-color: #f4f6f6;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }

  .previous-btn {
    transform: rotateY(180deg);
  }
}

.carousel-btn:hover {
  transition: all 200ms ease-in-out;
  color: $gray;
}

.carousel-card {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: $sec-font;
  font-weight: 500;

  &__title {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-around;

    h3 {
      font-size: 20px;
    }
  }

  &__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 40px 0 40px;

    span {
      font-size: 24px;
      color: $bg-prim;
    }

    button {
      cursor: pointer;

      width: 78.85px;
      height: 32px;

      border: none;
      background-color: $prim-col;

      color: $light;
      font-family: $sec-font;
      font-weight: 500;
      font-size: 12px;

      margin-bottom: 27px;

      transition: all 200ms ease;
    }

    button:hover {
      transition: all 200ms ease;
      transform: scale(1.2);
    }
  }

  &__item {
    -webkit-box-shadow: 6px 9px 48px -1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 9px 48px -1px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 9px 48px -1px rgba(34, 60, 80, 0.2);
  }

  .carousel-btns {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    border: none;
    transition: all 100ms ease-out;

    cursor: pointer;
  }

  .like-btn:hover {
    transition: all 200ms ease-in-out;
    background-color: $like-btn;

    img {
      filter: invert(1);
    }
  }

  .share-btn:hover {
    transition: all 200ms ease-in-out;
    background-color: $share-btn;
    img {
      filter: invert(1);
    }
  }
}

.catalog-block {
  margin-top: 140px;

  .catalog-block__title {
    text-align: center;
    color: $sec-col;
    font-family: $prim-font;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
  }

  .catalog-tab {
    display: flex;
    justify-content: space-evenly;

    &__item {
      color: $inactive-tab;

      font-family: $sec-font;
      font-weight: 400;
      font-size: 22px;
      transition: all 200ms ease;
      line-height: 1px;
      cursor: pointer;

      position: relative;

      line-height: 1;
      text-decoration: none;
    }

    &__item:hover {
      color: $prim-col;
    }

    &__item:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 3px;
      background-color: $prim-col;
      content: "";
      transition: width 0.3s ease-out;
    }

    &__item:hover:after,
    &__item:focus:after {
      width: 100%;
    }
  }
}

.catalog-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__img {
    display: block;
    margin-right: 135px;

    .bg__img {
      position: relative;
      z-index: -1;
    }

    .left {
      bottom: -80px;
      left: -12px;
    }

    .right {
      top: -80px;
      right: -375px;
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 350px;
    width: 500px;
  }
  .tab-title {
    font-family: $sec-font;
    color: $inactive-tab;
    font-weight: 500;
    font-size: 16px;
  }

  .content__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #d9dce5;
    height: 90px;
    width: 225px;
    transition: all 200ms ease-out;
    span,
    img {
      transition: all 200ms ease-in;
    }
  }

  .content__item:hover {
    transition: all 200ms ease-in;
    background-color: $prim-col;
    img {
      filter: brightness(10);
    }
    span {
      color: $light;
    }
  }
}

.review {
  margin: 140px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 495px;
    width: 540px;

    &__title {
      font-family: $prim-font;
      font-weight: 700;
      font-size: 32px;
      color: $sec-col;
    }

    &__subtitle {
      font-family: $sec-font;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: $gray;

      margin: 20px 0 40px 0;
    }
  }

  .furniture__img {
    position: relative;
    width: 565px;
    height: 500px;

    .bg__img {
      position: absolute;
    }
    .bg-circle {
      z-index: -1;
      left: -100px;
    }
  }

  &-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    .review-content {
      font-family: $sec-font;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;

      width: 115px;
      height: 42px;

      .review-title {
        font-size: 16px;
      }
      .review-rate {
        font-size: 15px;
      }
    }
  }
}

.bg-gray {
  margin: 140px 0 0 0;
  background-color: #f4f6f6;
  margin-bottom: 140px;

  .form-block {
    text-align: center;
    position: relative;

    &__title {
      padding: 68px 0 20px 0;

      font-family: $prim-font;
      color: $sec-col;
      font-weight: 700;
      font-size: 32px;
    }

    &__subtitle {
      font-family: $sec-font;
      font-weight: 400;
      font-size: 16px;
      padding-bottom: 40px;
    }

    &__input {
      border: none;

      font-family: $sec-font;
      font-weight: 400;
      font-size: 16px;
      margin-right: 90px;
      outline: none;
    }

    &__input::placeholder {
      color: #bababa;
      outline: none;
    }

    .form-input {
      display: flex;
      justify-content: center;
      padding-bottom: 55px;
    }

    .form-container {
      align-items: center;
      justify-content: center;
      position: relative;
      display: flex;

      width: 470px;
      padding: 8px 0px 8px 0px;
      background-color: #fff;

      .mail {
        margin-right: 12px;
        padding-left: 17.5px;
      }
    }

    .form-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: $sec-font;
      font-weight: 500;
      font-size: 16px;

      border: 1px solid $bg-footer;
      color: $light;
      background-color: $bg-footer;

      transition: all 100ms ease-out;
      height: 52px;
      padding: 15px 32px;
      cursor: pointer;
    }
  }
}

.bg-green {
  background-color: $bg-footer;
  .columns {
    padding-top: 100px;
    display: flex;

    justify-content: space-between;
    flex-direction: row;

    .about__footer {
      &-title {
        font-family: $prim-font;
        font-weight: 700;
        font-size: 24px;
        color: $light;
        margin-bottom: 24px;
      }
      &-subtitle {
        font-family: $sec-font;
        font-weight: 400;
        font-size: 18px;
        color: $light;
        margin-bottom: 40px;
      }
    }

    .social-media {
      &__title {
        font-family: $prim-font;
        font-weight: 700;
        font-size: 20px;
        color: $light;
        margin-bottom: 20px;
      }

      &__icons {
        display: flex;
        justify-content: space-between;
        width: 125px;
        margin-bottom: 46px;
      }
    }

    .footer-titles {
      font-family: $prim-font;
      font-weight: 700;
      font-size: 20px;
      color: $light;
    }

    .tour__footer-items {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 140px;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-family: $sec-font;
        color: $light;
      }
    }

    .company__footer {
      &-items {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 140px;
        justify-content: space-between;

        a {
          text-decoration: none;
          font-family: $sec-font;
          color: $light;
        }
      }
    }

    .subscribe__footer {
      &-subtitle {
        margin: 24px 0 40px 0;
        font-family: $sec-font;
        font-weight: 400;
        font-size: 18px;
        color: $light;
      }

      &-input {
        display: flex;
        align-items: center;
        height: 48px;
        width: 253px;
        background-color: $light;

        .footer-input {
          padding-left: 22px;
          border: none;
          font-family: $sec-font;
          font-weight: 400;
          font-size: 16px;
          margin-right: 20px;
          outline: none;
        }
        .footer-input::placeholder {
          color: #859395;
        }
      }
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #407980;
  margin-bottom: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  font-family: $sec-font;
  color: $light;
  padding-bottom: 20px;
}

@media (max-width: 1230px) {
  .container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__links {
      display: none;
    }

    &__logo {
      font-size: 30px;
    }
  }

  .main {
    display: flex;
    flex-direction: column;

    .chair-img {
      display: none;
    }
  }

  .partners {
    .partners-img {
      height: 250px;
      display: grid;
      grid-template-columns: 2fr 2fr;

      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .about_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .about-img {
      width: 600px;
      margin-bottom: 50px;
    }
  }

  .benefits {
    display: flex;
    flex-direction: column;
  }

  .carousel-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__btn {
      margin: 50px 0 0 0;
    }
  }

  .carousel-card {
    display: flex;
    flex-direction: column;
    height: 1300px;
    margin-top: 30px;
  }

  .catalog-tab {
    width: 800px;
  }

  .catalog-content {
    display: flex;
    flex-direction: column;

    &__img {
      margin: 50px 0 50px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .left {
        display: none;
      }
      .right {
        display: none;
      }
    }
  }

  .review {
    display: flex;
    flex-direction: column;

    .furniture__img {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text-block {
      text-align: center;

      .review-block {
        display: flex;
        justify-content: center;
      }
    }
  }

  .bg-gray {
    width: 800px;
    margin: 0 0 100px;
  }

  .columns {
    width: 1000px;
  }
}

@media (max-width: 1015px) {
  .columns {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    .second-column {
      display: none;
    }
    .third-column {
      display: none;
    }
  }
}
